<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/registration.css">
</head>
<body>
<form class="reg-form" method="post" action="http://localhost:8080/registration">
    <input placeholder="login" type="text" id="login" name="login">
    <input placeholder="password" type="text" id="password" name="password" >
    <button type="submit">register</button>

</form>
</body>
</html>