<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="/registration.css">
</head>
<body>
<form class="reg-form" method="post" data-th-action="@{/registration}">
    <label for="login">Login</label>
    <input placeholder="Enter login" type="text" name="login" id="login">
    <label for="password">Password</label>
    <input placeholder="Enter password" type="text" name="password" id="password">
    <button type="submit">register</button>
</form>
</body>
</html>